<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyCapstoneApp</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<body>

{% if school_list %}
    <ul>
        {% for school in school_list %}
            <li><a href="{% url 'MyCapstoneApp:detail' school.id %}">{{ school.name }}</a> </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No school names are available.</p>
{% endif %}

</body>
</html>